<nav class="navbar">
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/posts" class="nav-link">Posts</a>
      <a routerLink="/users" class="nav-link">Users</a>
  </nav>

  <div class="home">
    <h1>Welcome to Urbanus App!</h1>
    <p>This application aims to improve the lives of people in urban centers, 
    <p>so that cities become increasingly centers for new ideas,</p> 
    <p>commerce, culture, science, productivity, and social development.</p>
    
    <h3>Urbanus mission</h3>
    <p>Protect and safeguard the cultural heritage of the city</p>
    <p>Protect and safeguard the natural heritage of the city</p>
    <p>Support positive social and environmental connections between urban areas.</p>
  </div>