<nav class="navbar">
    <a routerLink="/home" class="nav-link">Home</a>
    <a routerLink="/posts" class="nav-link">Posts</a>
    <a routerLink="/users" class="nav-link">Users</a>
</nav>

<div class="home">
<div  style="margin: 20px;">
    <mat-form-field appearance="fill">
      <mat-label>Search Users</mat-label>
      <input 
        matInput 
        [(ngModel)]="searchTerm" 
        (input)="filterUsers()"
        placeholder="Type to search..."
      >
    </mat-form-field>
    <button mat-raised-button style="margin-left: 15px; margin-bottom: 10px;" (click)="filterUsers()">Search</button>  
    <h3 *ngIf="hasSearched">Results:</h3> 
    <div *ngIf="hasSearched">
      <ul *ngIf="filteredUsers.length > 0"> 
        <li *ngFor="let user of filteredUsers" (click)="showUserDetails(user)">
          {{ user.name }} ({{ user.email }})
        </li>
      </ul>
      <button mat-raised-button (click)="closeBtn()">Close Research</button>
      <p *ngIf="filteredUsers.length === 0">No results found.</p> 
    </div>
</div>

<mat-paginator style="  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
"
               [length]="users.length" 
               [pageSize]="pageSize"  
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)">
</mat-paginator>

<h3 style="margin-left: 15px;">Users</h3>
<div class="user-card" *ngFor="let user of paginatedUsers">
    <p><strong>Id:</strong> {{ user.id }}</p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Genere:</strong> {{ user.gender }}</p>
    <p><strong>Status:</strong> {{ user.status }}</p><br>
    <mat-button-toggle-group>
      <mat-button-toggle value="bold" (click)="showUserDetails(user)">Show Details</mat-button-toggle>
      <mat-button-toggle value="bold" (click)="removeUser (user.id)">Remove</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<h5 style="margin-left: 30px; margin-top:30px">Add User</h5>
<form class="example-form" (ngSubmit)="addUser ()" #userForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput name="userName" [(ngModel)]="newUser .name" placeholder="Name" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="userEmail" [(ngModel)]="newUser .email" placeholder="Email" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select name="userGender" [(ngModel)]="newUser .gender" required>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button style="margin-left: 10px; margin-bottom: 20px;" type="submit">Add User</button> 
</form>

<div style="text-align: center;" class="button-container">
  <button 
   mat-raised-button
   style="color: red;" 
   (click)="logout()">Logout</button>
</div>

</div>